.hidden {
    display: none !important;
}

#servers {
    border: 1px solid #000000;
}

.server-status {
    padding-right: 10px;
    padding-left: 10px; 
    display: table-cell;
    border-right: 1px solid #000000;
}

.server-players {
    width: 100%;
}

table {
    margin-top: 5px;
    margin-bottom: 5px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.server-icon {
    text-align: center;
}

.server-icon-img {
    width: auto;
    height: 150px;
}

#update-button-div {
    margin-top: 5px;
}