body {
    margin: 0px 0px 0px 0px;
}

#page {
    display: block;
    background-color: gray;
    margin: 0px 10px 0px 10px;
    width: 100%;
}

#content {
    display: block;
    background-color: lightgrey;
    margin: 0px 25px 0px 25px;
}

.div-p {
    display: block;
    margin: 0px 25px 0px 25px;
}

hr {
    border-top:3px dotted #000;
}