#box1 {
  display: block;
  background-image: linear-gradient(#dd304c, #69363b, #dd304c);
  width: 260px;
  padding: 0px 20px 0px 20px;
  float: right;
}

#header {
  display: block;
  color: whitesmoke;
  display: inline-block;
  text-align: center;
  padding-bottom: 0px;

  padding: 0px 20px 0px 20px;
}

#header h1 {
  font-family: "Verdana";
}

#header p {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.content-box h1, .content-box h2, .content-box h3 {
  font-family: "Arial Black";
  margin: 0px 0px 0px 0px;
}

.h2-sm {
  font-size: 22px;
}

.sun {
  display: inline-block;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  background-size: cover;
  background-image: url('./icon.png');
}

.small-text {
  font-size: 10px;
  margin-bottom: 0px;
}

.days {
  font-size: 12px;
}

.spacer {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.date {
  display: inline-block;
  margin-top: 0px;
}

.price {
  display: block;
  float: right;
  color: orangered;
  margin-top: 0px;
}

.content-box {
  display: block;
  background-color: gold;

  margin-top: 15px;
  margin-bottom: 15px;

  padding-right: 10px;
  padding-left: 10px;

  padding-top: 10px;
  padding-bottom: 10px;
}

.content-box h1 {
  margin-top: 5px;
  margin-bottom: 5px;

}

#footer h3 {
  font-weight: normal;
  padding-right: 38px;
  padding-left: 38px;
  margin-bottom: 0px;
}

#footer {
  display: block;
  text-align: center;
  color: whitesmoke;
}